@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #000;
}

#nomeCadastro{
    margin-top: -20px;
    margin-left: 64px;
}

#form{
    height: 640px;
    position: relative;
    margin-top: 10px;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
}
.title{
    font-size: 1.8em;margin-bottom: 10%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #1031b4 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(-45deg, #2d4595, #840808);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    color: #00070b;
    font-size: 11pt;
}
#btn a{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: 'Poppins', sans-serif;
    background: #2d4595;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    border-radius: 250px;
    outline: none;
    cursor: pointer;
}

.btn{
    font-family: 'Poppins', sans-serif;
    background: blue;
    display: inline-flex;
    font-size: 3em;
    padding: 8px 20px;
    margin-left: 50px;
    color: #fff;
    border: none;
    font-size: 1.5em;
    border-radius: 200px;
}
/*#btn button:hover{
    background: #990202;
}